name: Build
on:
  push:
    branches:
      - main
      - beta
      - feature/*
concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: false
jobs:
  release:
    if: github.ref == 'refs/heads/main'
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - run: npm ci
      - run: npx tsc
      - run: npm run semantic-release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
